<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ msg }} {{ bookName }}
          </h1>
        </div>
      </div>
    </section>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ID</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input class="input is-static" type="text" placeholder="ID" :value="id">
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Nome do livro</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input id="bookName" class="input" type="text" placeholder="Nome do livro" :value="bookName">
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Nome do Autor</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input id="bookAuthor" class="input" type="text" placeholder="Nome do autor" :value="bookAuthor">
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Preço R$</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input id="bookPrice" class="input" type="text" placeholder="Preço" :value="bookPrice">
          </p>
        </div>
      </div>
    </div>
    <div class="buttons">
      &nbsp;<button class="button is-primary is-light" @click="saveBook()">salvar</button>
      &nbsp;<button class="button is-link is-light" @click="backList()">voltar</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'details',
  data () {
    return {
      msg: '',
      apiGet: 'http://localhost:3000/booksStore',
      bookAuthor: '',
      bookName: '',
      id: '',
      bookPrice: 0,
    }
  },
  mounted: function() {
    if (this.$route.params.id != undefined) {
      this.getBook()
      this.msg = "Edição dos dados do livro "
    } else {
      this.msg = "Novo livro"
    }
  },
  methods: {
    getBook () {
      let currentObj = this
      this.axios.get( this.apiGet + '/' + this.$route.params.id ) 
      .then(function (response) {
        currentObj.id = response.data.id
        currentObj.bookName = response.data.bookName
        currentObj.bookAuthor = response.data.bookAuthor
        currentObj.bookPrice = response.data.bookPrice
        }).catch(function (error) { currentObj.booksStore = error} )
    },
    backList () {
      window.location.href = 'http://localhost:8080'
    },
    saveBook () {
      alert('teste')
      let editId = this.$route.params.id
      let editBookName = document.getElementById('bookName').value
      let editBookAuthor = document.getElementById('bookAuthor').value 
      let editBookPrice = document.getElementById('bookPrice').value
      if(editId != undefined) {
        this.axios.post( this.apiGet, {id: editId, bookName: editBookName, bookAuthor: editBookAuthor, bookPrice: editBookPrice})
      } else {
        this.axios.put( this.apiGet, {bookName: editBookName, bookAuthor: editBookAuthor, bookPrice: editBookPrice})
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
