<template>
  <div>
    <h1>{{ msg }} &nbsp; <button type="button" class="button is-primary"><router-link to="/details"> Novo </router-link></button></h1>
    <br>
    <div class="table-container"> 
      <table class=" table is-bordered is-striped is-narrow is-hoverable is-fullwidth ">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Autor</th>
            <th scope="col">Preço</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody  v-for="books in booksStore"  v-bind:key="books" v-on="booksStore">
          <td>{{ books.id }}</td>
          <td>{{ books.bookName }}</td>
          <td>{{ books.bookAuthor }}</td>
          <td>{{ books.bookPrice }}</td>
          <td><a class="button" @click="editBook(books.id)"><i class="fas fa-pencil-alt"></i></a> - <a class="button" @click="deleteBook(books.id)"><i class="fas fa-times"></i></a></td>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'list',
  data () {
    return {
      msg: 'Lista de Livros disponiveis',
      apiGet: 'http://localhost:3000/booksStore',
      siteURL: window.location,
      booksStore: []
    }
  },
  created: function() {
    this.getBooks()
  },
  methods: {
    getBooks () {
      let currentObj = this
      this.axios.get(this.apiGet).then(
        function (response) {
          currentObj.booksStore = response.data})
          .catch(
            function (error) {currentObj.booksStore = error}) 
    },
    editBook (id) {
      window.location.replace(this.siteURL + 'edit/' + id)
      console.log(this.siteURL + 'edit/' + id)
    },
    deleteBook (id) {
      this.axios.delete(this.apiGet + '/' + id)
      this.getBooks()          
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
